<div class="wrapper-call-to-action">
  <div class="container text-center">
    <h2>Rejoignez-nous</h2>
    <div class="trait"></div>
    <p>Seul, en famille ou entre amis, nous vous attendons</p>
    <%= link_to "Reserver mon séjour", "/reservation.html", class: "btn btn-presentation" %>
  </div>
</div>
