<div class="gallery">
  <div class="container">
    <div class="row">
      <% gallery.each do |picture| %>
        <div class="col-lg-3 gallery-item">
          <% link_to "/images/galleries/#{picture}" do %>
            <%= image_tag "/images/galleries/thumbs/#{picture}" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
