.card-testimonial {
  margin-bottom: 15px;
  p {
    font-size: 10px;
  }
}

.img-testimonial {
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}

.testimonial-name {
  font-size: 200%;
  line-height: 36px;
  color: #a27d2d;
}

.testimonial-info {
  font-size: 160%;
  line-height: 21px;
  color: #969696;
}

.testimonial-message {
  font-size: 80%;
  color: #48686c;
}
