.card-testimonial {
  margin-bottom: 15px;
  padding: 1.5em 0 1.5em 0;
  text-align: center;
  border-bottom: 1px solid #E5E5E5;
  p {
    font-size: 10px;
  }
}

.img-testimonial {
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}

.testimonial-name {
  font-size: 200%;
  line-height: 36px;
  color: #a27d2d;
}

.testimonial-info {
  font-size: 160%;
  line-height: 21px;
  color: #969696;
}

.testimonial-message {
  font-size: 80%;
  color: #48686c;
}

h2 {
  color: #a27d2d;
  font-weight: bold;
}

.wrapper-testimonial {
  padding: 3em 0;
  background-color: #D5DFD3 !important; // Set a color if no image
  background: url(/images/backgrounds/texture-dirt.jpg); //default-image
  background-size: cover;
  background-position: center bottom;
  text-align: center;
}
