.trait {
  border-bottom: solid;
  width: 90px;
  border-width: 5px;
  margin: 0 auto 10px auto;
  color: #a27d2d;
}

h2 {
  color: #a27d2d;
  font-weight: bold;
}

.btn-presentation {
  border: solid;
  border-width: 1.5px;
  border-color: #a27d2d;
  border-radius: 8px;
  padding: 9px 18px;
  color: #a27d2d;
}

.btn-presentation:hover {
  border-color: #a27d2d;
  background-color: #a27d2d;
  color: white;
}

.wrapper-call-to-action {
  padding: 3em 0;
  background-color: #D5DFD3 !important; // Set a color if no image
  background: url(/images/backgrounds/fire.jpg); //default-image
  background-size: cover;
  background-position: center bottom;
  text-align: center;
  h2 {
  color: #a27d2d;
  font-weight: bold;
  }
  p {
  font-size: 24px;
  color: #48686c;
  font-weight: bold;
  margin: 30px 0;
  }
}
