p {
  font-size: 16px;
}

.activites-card {
  padding: 0 1.5em;
  margin: 20px 0 0 0;
  h2, p {
    margin: 30px 0;
  }

}

.wrapper-activites {
  background-color: #F5F5F5 !important; // Set a color if no image
  background: url(/images/backgrounds/texture-dirt.jpg); //default-image
  background-repeat: repeat-x;
}

.img-activites {
  border-style: solid;
  border-width: 10px;
  border-color: white;
}

.trait-activites {
  border-bottom: solid;
  width: 90px;
  border-width: 5px;
  margin: 0 auto 20px auto;
  color: #a27d2d;
}


