// Import page-specific CSS files here.
@import "home";
@import "about";
@import "camp";
@import "equipe";
@import "activites";

.wrapper-intro {
  padding: 2em 0;
  background-color: #F5F5F5 !important; // Set a color if no image
  background: url(/images/backgrounds/background-intro.jpg); //default-image
  background-size: cover;
  background-position: center bottom;
  text-align: center;
  h2 {
  color: #a27d2d;
  font-weight: bold;
  }
  p {
  color: #48686c;
  }
}

.wrapper-presentation {
  padding: 2em 0;
  background-color: #F5F5F5 !important; // Set a color if no image
  background: url(/images/backgrounds/texture-dirt.jpg); //default-image
  background-repeat: repeat-x;
  // background-size: cover;
  // background-position: center bottom;
  text-align: center;
}

.trait {
  border-bottom: solid;
  width: 90px;
  border-width: 5px;
  margin: 0 auto 10px auto;
  color: #a27d2d;
}

.presentation {
  margin-bottom: 50px;
  h3 {
  color: #a27d2d;
  font-weight: bold;
  }
  p {
  color: #48686c;
  }
  .presentation-message {
    padding: 0 6px;
    margin-top: 10px;
  }
}

.btn-presentation {
  border: solid;
  border-width: 1.5px;
  border-color: #a27d2d;
  border-radius: 8px;
  padding: 9px 18px;
  color: #a27d2d;
}

.btn-presentation:hover {
  border-color: #a27d2d;
  background-color: #a27d2d;
  color: white;
}
