---
title: "De nombreuses activités à partager sur le camp et aux alentours"
title_seo: "Activités de plein air au No Wifi Summercamp dans les Pyrénées Ariégeoises"
description: "Découvrez les nombreuses activités du camp : randonnée, équitation, canoé, rafting, lutherie, poterie, escalade..."
hero_image: vtt.jpg
---

<div class="main">
  <%= partial "partials/header" %>

  <div class="wrapper-activites">
    <div class="container">
      <div class="row">
        <% data.activities.each do |activity| %>
          <div class="col-xs-12 col-md-6 col-lg-4 activites-card text-center">
            <h2><%= activity.name %></h2>
            <div class="trait-activites"></div>
            <%= image_tag "/images/activities/#{activity.picture}", class: "img-activites" %>
            <p><%= activity.description %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
