---
title: "Une équipe merveilleuse pour vous encadrer, vous divertir"
title_seo: "L'équipe merveilleuse du No Wifi Summercamp dans les Pyrénées Ariégeoises"
description: "Lors de votre séjour dans le camp de vacances, vous ferez la connaissance de notre équipe chargée de vous encadrer et de vous divertir."
hero_image: equipe-saut.jpg
---

<div class="main">
  <%= partial "partials/header" %>

  <div class="wrapper-team">
    <div class="container">
      <div class="row">
        <% data.team.each do |member| %>
          <div class="col-xs-12 col-md-4 team-card text-center">
            <h2><%= member.name %></h2>
            <div class="trait"></div>
            <%= image_tag "/images/members/#{member.picture}", class: "img-testimonial" %>
            <p><%= member.description %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
